/* Algemene styling */
body {
    background-color: #FBEAEB;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #2F3C7E;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1%;
}

nav a {
    margin: 3%;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
}

/* Styling form */
#form {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#form__container {
    width: 34rem;
    height: 13rem;
    background-color: lightgray;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 1%;
}

#form__comment {
    width: 100%;
    height: 60%;
}

#form__username {
    margin-top: 1rem;
}

#form__submit__button {
    margin-top: 1rem;
}

#form__user__container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Styling comments */

#form__comment__text {
    position: relative;
    width: 23rem;
    height: 13rem;
    background-color: white;
    left: 18%;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 0 1rem 1rem 0;
}

#form__user__name {
    position: relative;
    width: 18%;
    height: 13rem;
    background-color: blanchedalmond;
    box-sizing: border-box;
    display: flex;
    padding: 1.25rem;
    top: -105%;
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 0.62rem;
    border-radius: 1rem 0 0 1rem;
}

#form__user__photo {
    width: 80%;
    border-radius: 0.5rem;
    position: absolute;
    top: 10%;
    left: 10%;
}

#form__reply__btn {
    display: flex;
    align-self: flex-end;
    position: absolute;
    top: 80%;
    left: 80%;
}

#form__reply {
    position: relative;
    top: -8%;
    margin: 0;
    padding: 0;
}

#form__removereply {
    position: relative;
    left: 45%;
    top: -17%;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#form__removereply:hover {
    font-weight: bold;
}

#form__submit__reply {
    position: absolute;
    z-index: 2;
    margin-top: 1rem;

}

#form__comment__container {
    width: 80%;
    height: 13rem;
}