body {
    background-color: #FBEAEB;
    margin: 0;
}
nav {
    width: 100%;
    background-color: #2F3C7E;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1%;
}

nav a {
margin: 3%;
font-size: 1rem;
text-decoration: none;
color: white;
}

ul {
    margin: 0;
}

#infocards {
    width: 200px;
    height: 200px;
    background-color: rgb(52,71,125);
    border-radius: 0.9rem;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: white;
}

p {
    margin: 0.5em;
}

#frontcard {
    width: 200px;
    height: 200px;
    background-image: url("globebackground.jpg");
    background-size: 200px;
    border-radius: 0.9rem;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px black;
    transition: all 0.2s ease;
    backface-visibility: hidden;
}

#frontcard:hover {
    opacity: 0;
    /* transform: rotateY(180deg); */
}

.container {
    position: relative;
    overflow: hidden;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}

#cards {
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#cardnames {
    width: 410px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

.filter-container {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 1rem;
}


#amount {
    border: 1px solid black;
    width: 50px;
    text-align: center;
    background-color: white;
}