body {
    background-color: #FBEAEB;
    margin: 0;
}
nav {
    width: 100%;
    background-color: #2F3C7E;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}
nav a {
margin: 3%;
font-size: 1rem;
text-decoration: none;
color: white;
}

ul {
    margin-top: 0;
}

.clock {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 90%;
    position: relative;
margin: 1rem auto;
}

.clock__minutes {
    height: 70px;
    width: 5px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 100px;
    transform-origin: center bottom;
    /* animation: clockpointer 3600s steps(60, end) infinite; */
    /* animation: clockpointer; */
}

.clock__hours {
    height: 50px;
    width: 5px;
    background-color: white;
    top: 50px;
    right: 100px;
    position: absolute;
    transform-origin: center bottom;
    /* animation: clockpointer 43200s steps(60, end) infinite; */
}

.clock__seconds {
    height: 70px;
    width: 4px;
    background-color: red;
    position: absolute;
    top: 30px;
    right: 100px;
    /* animation: clockpointer 60s steps(60, end) infinite; */
    transform-origin: center bottom;
    animation-iteration-count: infinite;
}

@keyframes clockpointer {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

#clock__digital {
    width: 4rem;
    height: 1rem;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

