.clock {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 90%;
    position: relative;
}

.clock__minutes {
    height: 70px;
    width: 5px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 100px;
    transform-origin: center bottom;
    /* animation: clockpointer 3600s steps(60, end) infinite; */
    /* animation: clockpointer; */
}

.clock__hours {
    height: 50px;
    width: 5px;
    background-color: white;
    top: 50px;
    right: 100px;
    position: absolute;
    transform-origin: center bottom;
    /* animation: clockpointer 43200s steps(60, end) infinite; */
}

.clock__seconds {
    height: 70px;
    width: 4px;
    background-color: red;
    position: absolute;
    top: 30px;
    right: 100px;
    /* animation: clockpointer 60s steps(60, end) infinite; */
    transform-origin: center bottom;
    animation-iteration-count: infinite;
}

@keyframes clockpointer {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}

#clock__digital {
    background-color: aquamarine;
    width: 200px;
    height: 80px;
}

.carousel {
    position: relative; 
}

.carousel img {
    width: 400px;
    height: 400px;
    border-radius: 5%;
}

.carousel__image {
    position: absolute;
}

/* .left-arrow, .right-arrow {
    height: 400px;
    width: 50px;
    background-color: rgb(16, 15, 15, 0.1);
    position: absolute; 
    top: 0px;
    cursor: grab;
}

.left-arrow {
    border-radius: 0.6em 0 0 0.6em;
}

.right-arrow {
    left: 350px;
    border-radius: 0 1em 1em 0;
}

.left-arrow, .right-arrow p {
font-size: 2em;
color: white;
text-align: center;
line-height: 340px;
}

.left-arrow:hover, .right-arrow:hover {
    background-color: rgb(16, 15, 15, 0.5);
} */

