/* Algemene styling */
body {
    background-color: #FBEAEB;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #2F3C7E;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

nav a {
    margin: 3%;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

ul {
    margin-top: 0;
}

/* Styling clock */
#clock {
    width: 12.5rem;
    height: 12.5rem;
    background-color: black;
    border-radius: 90%;
    position: relative;
    margin: 1rem auto;
}

#clock__seconds {
    height: 4.38rem;
    width: 0.25rem;
    background-color: red;
    position: absolute;
    top: 2.1rem;
    right: 50%;
    transform-origin: center bottom;
    animation-iteration-count: infinite;
}

#clock__minutes {
    height: 4.38rem;
    width: 0.35rem;
    background-color: white;
    position: absolute;
    top: 2.1rem;
    right: 50%;
    transform-origin: center bottom;
}

#clock__hours {
    height: 3rem;
    width: 0.35rem;
    background-color: white;
    top: 3.37rem;
    right: 50%;
    position: absolute;
    transform-origin: center bottom;
}

#clock__center {
    height: 0.9rem;
    width: 0.9rem;
    background-color: white;
    top: 6rem;
    right: 48%;
    position: absolute;
    transform-origin: center bottom;
    border-radius: 2rem;
}

#clock__digital {
    width: 4rem;
    height: 1rem;
    border: 0.3rem solid black;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
}

@keyframes clockpointer {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}