footer {
    width: 100%;
    background-color: rgb(245, 245, 220);
    color: gray;
    display: flex;

    div {
        margin: 30px 150px 20px 40px;
    }

        p:first-child {
        font-weight: bold;
        color: black;
    }


.info {
    display: flex;
    align-self: flex-start;
}

.social-media {
        justify-self: flex-end;

    img {
        width: 30px;
        margin: 5px;
    }
}

}

// MEDIA QUERY

@media (max-width:$max-width) {
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin: auto;


.info {
    @extend .footer;
    margin-left: 60px;
}

.social-media {
    margin: auto;
}

}
}