<!-- OUDE NAV HTML: -->

<!-- <nav class="navbar">
    <div class="logo">
        <img src="TG-logo.png" alt="Techgrounds logo" width="200px">
</div>

<div class="menu-items">
    <ul>
    <li><img src="images\home.svg">&nbsp;&nbsp;Home</li>
    <li><img src="images\popular.svg">&nbsp;&nbsp;Popular</li>
    <li><img src="images\contact.svg">&nbsp;&nbsp;Contact</li>
    </ul>
    </div>

<label class='hamburger-container' for="hamburger-menu">
    <input class="hamburger-menu" type="checkbox">
<div class="hamburger"></div>

<div class="nav-items">
<ul>
<li class="home"><img src="images\home.svg">&nbsp;&nbsp;Home</li>
<li class="popular"><img src="images\popular.svg">&nbsp;&nbsp;Popular</li>
<li class="contact"><img src="images\contact.svg">&nbsp;&nbsp;Contact</li>
</ul>
</div>
</label>

</nav> -->

.navbar {
    clear:both;
    overflow: auto;
    background-color: $primary-color;
    color: $text-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


.menu-items {
    display: flex;
    align-items: flex-end;
    height: 100%;
    box-sizing: border-box;

    ul li {
    display: inline-block;
    text-align: center;
    padding:8px 50px 8px 50px;
    font-size:18px;
    }


    img {
        width: 20px;
        
    }
}


.logo {
    padding: 15px;
}


.nav-bar input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .hamburger-menu {
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 2;
  }
  

.hamburger-container {
    display: none;
    position: relative;
    width: 30px;
    height: 100%;
    background-color: white;
    cursor: pointer;
    flex-direction: column;
    top: 30px;
}

.hamburger {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    transition: 0.3s;
    border-radius: 5px;

    &::before, &::after {
        content: " ";
        display: block;
        position: absolute;
        height: 4px;
        width: 30px;
        background-color: white;
        transition: 0.2s;
        border-radius: 5px;
    }

    &::before {
        top: -10px;
        
    }

    &::after {
        top: 10px;
        
    }
}


@media (max-width: $max-width) {
    .hamburger-container {
      display: flex;
      align-items: flex-end;
      right: 10px;
    }

   

    .hamburger-menu {
        display: flex;
        top: -18px;
        right: -15px;
        width: 50px;
        opacity: 0;
      }

    .menu-items {
        display: none;
        
    }

    .nav-items {
        display: none;
        
    }

    .navbar input:checked {
    
    & ~ .hamburger {
        background: transparent;
    }
    
    & ~ .hamburger::before {
        top: 0;
        transform: rotate(225deg);
    }
    
    & ~ .hamburger::after {
        top: 0;
        transform: rotate(315deg);
    }

    & ~ .items-container {
        display: flex;
        align-items: flex-end;
        right: 10px;
      }

      & ~ .nav-bar {
        height: 100%;
        
      }

    & ~ .nav-items {
//     height: 400px;
//     width: 300px;
//   position: absolute;
//   top: 30px;
//   left: -230px;
//   display: flex;
//   flex-direction: column;

  
    display: block;
    justify-items: flex-end;
    height: 100vh;
    z-index: 2;
    overflow: hidden;
    // position: absolute;

    ul li {
    list-style: none;
    text-align: center;
    padding:8px 50px 8px 50px;
    font-size:18px;
    }

    img {
        width: 20px;
        
    }

    }
}
    

    }





