footer {
    width: 100%;
    background-color: rgb(245, 245, 220);
    color: gray;
    display: flex;

    div {
        margin: 30px 150px 20px 40px;
    }

    img {
        width: 30px;
        margin: 5px;
    }

    p:first-child {
        font-weight: bold;
        color: black;
    }
}

.info {
    display: flex;
    align-self: flex-start;
}

.social-media {
    justify-self: flex-end;
}

@media (max-width:$max-width) {
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin: auto;
}

.social-media {
    justify-self:center;
}

}