.navbar {
    clear:both;
    overflow: auto;
    background-color: $primary-color;
    color: $text-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.nav-items {
    display: flex;
    align-items: flex-end;

    ul li {
    display: inline-block;
    text-align: center;
    padding:8px 50px 8px 50px;
    font-size:18px;
    }


    img {
        width: 20px;
        
    }
}

.logo {
    padding: 15px;
}

// .hamburger-menu {
//     // display: none;
//     // z-index: -1;
//     width: 50px;
//     // opacity: 0;
//     z-index: 2;
// }
.nav-bar input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .hamburger-menu {
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 2;
  }
  

.hamburger-container {
    display: none;
    position: relative;
    width: 30px;
    height: 100%;
    background-color: white;
    cursor: pointer;
    flex-direction: column;
    top: 30px;
}

.hamburger {
    display: block;
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    transition: 0.3s;
    border-radius: 5px;

    &::before, &::after {
        content: " ";
        display: block;
        position: absolute;
        height: 4px;
        width: 30px;
        background-color: white;
        transition: 0.2s;
        border-radius: 5px;
    }

    &::before {
        top: -10px;
        
    }

    &::after {
        top: 10px;
        
    }
}




@media (max-width: $max-width) {
    .hamburger-container {
      display: flex;
      align-items: flex-end;
      right: 10px;
    }

    .hamburger-menu {
        display: flex;
        top: -18px;
        right: -15px;
        width: 50px;
        opacity: 0;
      }

    .nav-items {
        display: none;
        
    }

    .navbar input:checked {
    
    & ~ .hamburger {
        background: transparent;
    }
    
    & ~ .hamburger::before {
        top: 0;
        transform: rotate(225deg);
    }
    
    & ~ .hamburger::after {
        top: 0;
        transform: rotate(315deg);
    }

    & ~ .nav-items {
        display: flex;
        // background: transparent;
        // display: flex;
        // position: absolute;
        // top: 10px;
        // margin-top: 50px;
        // left: 0;
        // flex-direction: column;
        // width: 100%;
        // justify-content: flex-start;
        // background-color: $primary-color;
        // height: 100%;
    }
    }
    



//     .hamburger-container input:checked { 
//         .nav-items {  
//         display: flex;
        // background: transparent;
        // display: flex;
        // position: absolute;
        // top: 10px;
        // margin-top: 50px;
        // left: 0;
        // flex-direction: column;
        // width: 100%;
        // justify-content: flex-start;
        // background-color: $primary-color;
        // height: 100%;
//         }
// }
    }





