.navbar {
  clear: both;
  overflow: auto;
  background-color: #2F125F;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-items ul li {
  display: inline-block;
  text-align: center;
  padding: 8px 50px 8px 50px;
  font-size: 18px;
}

.nav-items img {
  width: 20px;
}

.logo {
  padding: 15px;
}

.hamburger-menu {
  width: 50px;
  z-index: 2;
}

.hamburger-container {
  position: relative;
  width: 30px;
  height: 100%;
  background-color: white;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 30px;
}

.hamburger {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.hamburger::before, .hamburger::after {
  content: " ";
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  top: 10px;
}

@media (max-width: 750px) {
  .hamburger-container {
    display: inline-block;
  }
  .nav-items {
    display: none;
  }
  .navbar input:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 10px;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #2F125F;
    height: 100%;
  }
  .nav-bar {
    width: 100%;
    height: 500px;
  }
}

.login-card {
  text-align: center;
  border: 1px solid #2F125F;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}

.login-card .input-info {
  border: none;
  width: 280px;
  border-bottom: 1px solid black;
  margin: 10px;
  font-size: 15px;
}

.login-card a {
  margin-left: 25px;
  color: blue;
  text-decoration: none;
}

.login-card p {
  margin: 5px;
}

button {
  background-color: #003cff;
  color: white;
  width: 280px;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.login-photo {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #d5d0d0;
  border-radius: 15%;
}

.product-cards {
  border: 1px solid black;
  width: 70%;
  margin: auto;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18% 60% 20%;
      grid-template-columns: 18% 60% 20%;
      grid-template-areas: "photo text order";
}

.card-photo {
  margin: 10px;
  width: 165px;
  height: 165px;
  background-color: #d5d0d0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: photo;
}

.card-text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: text;
  padding-top: 15px;
}

.card-text p:nth-child(2) {
  font-weight: bold;
  font-size: 1.1em;
}

.card-order {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: order;
  padding-top: 15px;
}

.card-order .price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.card-order p {
  color: green;
  font-size: 14px;
  font-weight: bold;
}

.card-order img {
  width: 75px;
}

.price:after {
  content: "99";
  font-size: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer {
  width: 100%;
  background-color: beige;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

footer div {
  margin: 30px 150px 20px 40px;
}

footer img {
  width: 30px;
  margin: 5px;
}

footer p:first-child {
  font-weight: bold;
  color: black;
}

.social-media {
  margin-left: auto;
}

body {
  font-family: "Roboto";
  padding: 0px;
  margin: 0px;
}
/*# sourceMappingURL=style.css.map */