       /* Algemene styling */
       body {
           background-color: #FBEAEB;
           margin: 0;
       }

       nav {
           width: 100%;
           background-color: #2F3C7E;
           height: 3rem;
           text-align: center;
           line-height: 3rem;
           margin-bottom: 1%;
       }

       nav a {
           margin: 3%;
           font-size: 1rem;
           text-decoration: none;
           color: white;
       }

       ul {
           margin: 0;
       }

       /* Searchbar */
       .searchbar__input__container {
        width: 12rem;
        background-color: white;
        border: 1px solid black;
        border-radius: 0.4rem;
        margin: auto;
       }

       #searchbar__icon {
           width: 0.8rem;
           position: absolute;
           top: 4rem;
           left: 45rem;
           cursor: pointer;
       }

       #searchbar__input {
           width: 98%;
           border: none;
           border-radius: 0.4rem;
       }

       #searchbar__suggestions ul {
           margin: 0;
           padding: 0;
           color: rgb(85, 85, 85);
           font-size: 0.8rem;
       }

       #searchbar__suggestions ul li {
           list-style: none;
           display: none;
           padding: 0.2rem 0.6rem 0.2rem 0.6rem;
       }

       .show #searchbar__suggestions ul li {
           display: block;
       }
