/* Algemene styling */
body {
    background-color: #FBEAEB;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #2F3C7E;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1%;
}

nav a {
    margin: 3%;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
}

/* Searchbar styling */
.searchbar__container {
    width: 13rem;
    overflow: hidden;
    margin: auto;
}

#searchbar__input__container {
    width: 12rem;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    margin: auto;
}

#searchbar__icon {
    width: 0.8rem;
    position: absolute;
    top: 4rem;
    left: 45rem;
    cursor: pointer;
}

#searchbar__input {
    width: 98%;
    border: none;
    border-radius: 0.4rem;
}

#searchbar__input:focus-visible {
    outline: none;
}

#searchbar__suggestions {
    display: none;
}

/* Als de class .show aanwezig is, wordt de div met suggestions getoond */
.show #searchbar__suggestions {
    display: flex;
    flex-direction: column;
    white-space: pre;
    font-size: 0.85rem;
    color: rgb(85, 85, 85);
    padding: 0.1rem 0.6rem 0.1rem 0.2rem;
}